<%- include('./partials/head')  %> 


<main class="mainTracks">
    <section class="boxesTracks">
        <%artistData3.forEach(element=>{%>
            <figure>
                <figcaption class="figTracks"><%= element.name %> </figcaption>
                <audio
                
                    controls
                    src="<%= element.preview_url %> ">
                        Your browser does not support the
                        <code>audio</code> element.
                </audio>
            </figure>
        <%})%>
    </section>
</main>




<%- include('./partials/footer')  %> 